<html>
    <head>
        <meta charset="utf-8">
        <title>avante</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5">
        <style>
        html, body {
            background: #111;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            margin: 0;
        }
        </style>
    </head>
    <body>
        <script src="/res/nipplejs.js"></script>
        <script src="/res/ctl.js"></script>
    </body>
</html>

